body {
  padding-top: 70px;
    background-color: #d7d7d7;
}

/* Home page */

.logo{
    background: url("../img/logo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 300px;
    width: auto;
}

/* blogposts */

.blogpost {
    margin-top: 30px;
    background-color: #ffffff;
    border: solid 1px #363636;
    border-radius: 5px;
    padding: 0;
    margin-left: -30px;
}
.blogpost img{
    width: 100%;
    height: 300px;
}
.blogpost h1{
    font-size: 28px;
    font-weight: 700;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}
.blogpost p{
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    color: #6B6B6B;
    line-height: 1.7;
}

.sidebar {
    margin-top: 30px;
    background-color: #ffffff;
    border: solid 1px #363636;
    border-radius: 5px;
    padding: 0;
    margin-left: 30px;
}
.sidebar img{
    width: 100%;
    height: 300px;
}
.sidebar h1{
    font-size: 28px;
    font-weight: 700;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}
.sidebar p{
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    color: #6B6B6B;
    line-height: 1.7;
}

/* Footer */

footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:50px;   /* Height of the footer */
    background:#363636;
}
.footer-text a{
    text-align: center;
    color: #DADADA;
    text-decoration: none;
}
.footer-text p{
    text-align: center;
    color: #DADADA;
    text-decoration: none;
    padding-top: 15px;
}
.footer-text a:hover{
    color: #DA4453;
}